* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
header,
footer {
    background-color: black;
}

img {
    width: 10rem
    height: 10rem
    display: flex;
    justify-content: center;
    align-items: center;
}

.adm {
    width: 2.5rem
    height: 5rem
}

.container {
    color: white;
}