* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.4;
    background-color: black;
}

.grid {
    widht: 100rem;
    display: grid;
    grid-auto-flow: column;
    grid-auto-rows: 20rem;
    gap: 2rem;
}

h1 {
    font-size: 2rem;
    color: white;
}

p {
    font-size: 0.6rem;
    color: white;
}

nav {
    font-family: "Montserrat", sans-serif;
    font-size: 0.6rem ;
    color: white
    background-color: black;
    align-content: center;
    justify-content: center;
}
