.card {
    width: 400px;
    border: none;
    border-radius: 10px;
    background-color: #fff
}

.stats {
    background: #f2f5f8 !important;
    color: #000 !important
}

.articles {
    font-size: 10px;
    color: #a1aab9
}

.number1 {
    font-weight: 500
}

.followers {
    font-size: 10px;
    color: #a1aab9
}

.number2 {
    font-weight: 500
}

.rating {
    font-size: 10px;
    color: #a1aab9
}

.number3 {
    font-weight: 500
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

figure {
    width: 10rem
    height: 100px
}

.grid{
  display: grid;
  grid-template-columns: 1fr; /* duas colunas de tamanho igual */
  grid-template-rows: auto; /* altura automática */
  gap: 10px; /* espaço entre as células */
}

.mae{
    color: white;
    /*text-align: center;*/
    row-gap: 3rem;
}

.conteudo-principal {
    /*line-height: 1*/
}