{% extends "base.html" %}

{%block head%}
{%endblock%}

{% block body %}
<body>
    <section class="mae">
        <!--<section class="img">
            <figure>
                <img src="{{url_for('static',filename='fotos/corujatecnologica.jpg')}}">
            </figure>
        </section>-->
        <section class="servicos">
            <di class="conect">
                <h1>Conect</h1>
                <h2>Conectando você com o que a de melhor</h2>
            </di>
        </section>
            <section>
                <div class="quemsomos">
                    <h1 id="h1quemsomos">Quem Somos?</h1>
                    <p>
                        Somos Conect, uma empresa recém criada em 2026, por um generalista, que gosta da qualidade com
                        o intuito de desenvolver sistemas seja para uma pessoa ou uma empresa, como: curriculos, sites,
                        apps, jogos, com preços e qualidade
                        superiores dos que existem no
                        mercado, tanto em como é visto com um desingner atraente e como esta
                        estruturado evintando quedas, travamentos e com isso desistencia de em seu sistema,
                        em dispositivos
                        remotos
                        ou mobiles, com atualizaçoes sempre para manter a boa conectividade do site, ensinaremos voce a
                        utilizar o seu sistema, não cobrando pelo seguimento da empresa, mais sim pelo desimg carregado no
                        sistema, no qual aperfeiçoa o produto e faz o usuario no site se identificar e voltar ao sistema.
                    </p>
                </div>
                <div class="divprofissionalxia">
                    <p>
                        Porque fazer com um profissional e não com IA?
                        A inteligência artificial hoje ainda é limitada e não oferece todos os benefícios
                        necessários para o desenvolvimento de sistemas, um profissional consegue suprir a
                        falta de um designer diferente dos seus concorrentes, quebrando o padrão criado pelas
                        IAs.
                    </p>
                </div>
                <div class="desenvolvendositema">
                    <p>
                        Desenvolvimento do sistema
                        Desenvolveremos e entregaremos em até 5d o seu site no google, você podera testa-lo e
                        pagar quando você aprova-lo de acordo com o desingn de seu site e não por ocupação
                        empresarial, com dicas de designers, funcionalidades, gatilhos para atrair mais
                        clientes, botao de whatsaap, chat boot onde um robo responde seus clientes orientandos
                        da melhor forma possivel, popups, envio de email automaticamente, nao perca tempo faça uma
                        cotação via wattsapp.
                    </p>
                </div>
                <div class="mvv">
                    <p>
                        Missão: conectar pessoas seja o dono de um negócio e o seu cliente através de muito
                        mais do que um sistema.
                    </p>
                    <p>
                        Visão: Ser uma empresa referência pelo uso da qualidade.
                    </p>
                    <p>
                        Valor: buscar sempre suprir as nescessidades.
                    </p>
                </div>
                <div class="dono">
                    <p>
                        Quem é o dono?
                    </p>
                    <p>
                        Melquisedeque, 23 anos, natural de Belo Horizonte - MG, Técnico em Administrção e
                        formado em python.
                    </p>
                </div>
            </section>

            <a href="https://wa.me/5531991048405" class="floating-button">
                <img src="{{ url_for('static', filename='fotos/whatsaapp.jpg') }}" alt="Botão Flutuante">
            </a>

        <footer>
        </footer>
    </section>
</body>
{% endblock %}