{% extends "base.html" %}

{% block body %}
<body>
    <section class="mae">
        <section class="explicando">
            <h1>Administração</h1>
            <p> Base de toda profissão, ela nós entrega conhecimentos para dominar varias áreas, indepedentemente da ocupação
                ou tamanho da empresa, por mais diverso seja, a administração estara lá, para axuliar pessoas a lidar
                com as tarefas do dia a dia de pessoas juridicas e até mesmo pessoas fisicas, pois sem ela nada tem direção,
            </p>
        </section>
            <figure>
                <img src="{{url_for('static',filename='fotos/administracao.jpg')}}">
            </figure>
    </section>
    <section class="conhecimento_area">
		<p>
			<h1 class="h1_conhecimento_por_area">Conhecimento por Área</h1>
		</p>
		<div>
			<p>
				Financeiro:
			</p>
			<p>
				Base de toda empresa, dele gera-se todo o recurso para o início das atividades da mesma.
			</p>
			<li>
				Conciliação Bancária: verifica se o resultado das transações está igual entre conta bancária e registros internos, alterações devem ser corrigidas.
			</li>
			<li>
				Operação de caixa: tarefa vinda das transações do caixa de uma empresa, nele escreve as transações junto com valor, verificando a abertura e fechamento se os números estão iguais ao do sistema.
			</li>
			<li>
				Livro diario: consta todas as movimentações diárias de uma PJ ou PF.
			</li>
			<li>
				Ficha Kardex: planilha de controle de estoque, atrelada a metodologias de gestão do mesmo, PEPS, Cálculo Médio.
			</li>
			<li>
				Fluxo de caixa: planilha que mostra o investimento, receita da empresa, sendo um guia da situação financeira, muito utilizado também por PF.
			</li>
			<li>
				DR: nele consta 3 grupos 1⁰ receita e custo da principal atividade da empresa, 2⁰ despesas operacionais, podendo entrar lucro de investimentos, 3⁰ bens da empresa para analise da depreciação.
			</li>
			<li>
				Razonet: contas em formato de T seguindo as regras do razão, livro conceito da prática do razonet, nele tem todas as transações da empresa em seu exercício tendo débito (destino) e crédito (origem) esquerda e direita respectivamente.
			</li>
			<li>
				ARE: conta que faz apuração das contas de resultado do Razonete, para descrever lucro ou prejuízo.
			</li>
			<li>
				Balancet: uma amostra rápida do Balanço Patrimonial, nele consta: saldo inicial, Movimentação, saldo final.
			</li>
			<li>
				Balanço Patrimonial: nele consta ativo, passivo a curto e longo prazo, contendo bens e direitos no ativo e obrigações no passivo, nele mostra todo o período do exercício de uma empresa, outras contas imobilizado, intangível, tangível, disponível.
			</li>
			<li>
				Contas a receber: direito da empresa, sobre seus clientes.
			</li>
			<li>
				Contas a pagar: obrigação da empresa, verifica se tem dinheiro sobrando no caixa para pagamento, podendo ser feito um empréstimo bancário.
			</li>
		</div>

		<div>
			<p>
				Compras:
			</p>
			<p>
				Responsabilizado para compra de insumos, para o setor principal da empresa.
			</p>
			<li>
				Controle e Análise de estoque: busca entender o que prescisa e o que pode ser substituído de acordo com a demanda.
			</li>
			<li>
				Gerenciamento de Contrato: analisa contratos perto do fim, busca por novos e controla se as cláusulas estão sendo seguidas.
			</li>
			<li>
				Analise de mercado: busca novos investimentos, com novos fornecedores, muito atrelado a troca de produtos no estoque com pouca demanda.
			</li>
			<li>
				Cotação: ato de consulta aos preços dos fornecedores já padronizados ou não.
			</li>
			<li>
				Negociação: diálogo B2B, onde vem busca de vantagens para empresa como: preços, descontos, lead time.
			</li>
			<li>
				Aquisição: ato de compra do produto B2B, pix, cartão de crédito sendo o mais utilizado.
			</li>
		</div>

		<div>
			<p>
				Departamento Pessoal:
			</p>
			<p>
				Este setor se responsabiliza por contração de pessoas, no qual renova a cultuta organizacional da empresa através do turnover (rotatividade), faz pagamento de salarios e é mediador de conflitos trazendo a ética e moral.
			</p>
			<li>
				Anuncio de vagas: chama atenção para que profissionais possão candidatar-se a vaga disponível, faz a triagem: análise do currículo, conversa com: recrutador, conhece a empresa, conversa com supervisor e líder máximo da unidade.
			</li>
			<li>
				Cadastramento: adquiri informações do participante.
			</li>
			<li>
				Exame Admissional: feito em uma clinica quando o candidato entra na empresa, podendo haver também: periódico: 12 em 12 meses e demissional: fim de contrato
			</li>
			<li>
				Admissão: primeiro dia na empresa.
			</li>
			<li>
				Folha de pagamento: faz adição e dedução nos dias remunerados do trabalhador de acordo com o banco de horas, seguindo as normas CLT.
			</li>
			<li>
				Mediador de conflitos: evita discurssões, apazigua brigas, se presciso analisa a situação, para tomada de decisão.
			</li>
		</div>

		<div>
			<p>
				Administrativo:
			</p>
			<p>
				Setor que difere nas empresa, pois muitas das vezes auxilia outros setores da empresa.
			</p>
			<li>
				Atendimento (receptivo): presencial ou por telefone, WhatsApp ou e-mails.
			</li>
			<li>
				Elaboração de orçamentos.
			</li>
			<li>
				Agendamentos de reuniões, viagens e eventos.
			</li>
			<li>
				Organização de arquivos, planilhas.
			</li>
			<li>
				Competências: Pacote Office Impressionador (Excel, Word, Power Point, One Note, Teams, Power Bi), Python (Web Scraping), boa digitação.
			</li>
		</div>

		<div>
			<p>
				Produção:
			</p>
			<p>
	  			Setor relacionado com a atividade principal da empresa, pode ser fabricação de produtos ou prestação servicos.
			</p>
			<p>
				Sistema Técnico: envolve softwares, hardwares e pessoas.
			</p>
			<p>
				Demanda: deve-se ser seguida, muito ajuda são as metodologias
			</p>
				<li>
					Just Time: ideal para prestação de serviços.
				</li>
				<li>
					Cross Doking: evita desperdício e estoque com volume desnecessário, trabalha com cálculo sobre demanda e Lead Time.
				</li>
				<li>
					Lean Facturing: produção com mais variedades, do que produção em massa, os 3 prescisão de análises.
				</li>
			<p>
				Margens erro e lucro: para aumento do lucro é inevitável diminuir a margem de erro.
			</p>
			<p>
				Inovação: sempre estar alerto ao mercado, buscando feedback dos consumidores e criando uma análise forte do que pode suprir as necessidades de determinada região e performance do sistema técnico.
			</p>
			<p>
				Competências: Cross Doking,  Just Time, Excelência Operacional, Sistema técnico, Lean Facturing.
			</p>
		</div>

		<div>
			<p>
				Logística e Almoxarife:
			</p>
				Setores semelhantes, enquanto um cuida do produto do cliente externo o outro para o cliente interno(Funcionario).

			<li>
				Recebimento de mercadoria (descarga do veículo)
			</li>
			<li>
				Conferencia quantitativa
			</li>
			<li>
				Conferência qualitativa
			</li>
			<li>
				Armazenagem(cadastramento, endereçamento do insumo)
			</li>
			<li>
				Distribuição: os almoxarifes distribui para clientes internos, os estoquistas distribui para o cliente
				externo através da expedição, pela própria empresa ou tercerizado.
			</li>
				<li>
					Pedido do consumidor
				</li>
				<li>
					Separação do produto
				</li>
				<li>
					Emalagem: caixa ou pacote, contendo o endereço do remetente e destinatário
				</li>
				<li>
					Rastreamento: feito através da bipagem, através hoje do QR Code
				</li>
				<li>
					Carregamento do veiculo: quando as cargas já estão prontas para envio.
				</li>
				<li>
					Rota: escolhe o melhor caminho para o final do Lead Time.
				</li>
				<li>
					Expedição: quando o produto entra na rota de destino indicada.
				</li>
				<li>
					Competências: Cross Doking, PEPS, Pacote Office 365.
				</li>
		</div>

		<div>
			<p>
				Marketing:
			</p>
			<p>
	  			Setor que realiza anúncios dos produtos ou serviços para atrair mais consumidores, da mesma que cria uma
				relação constante com clientes.
			</p>
			<p>
				E-mail marketing: existem vários mais falarei apenas de alguns.
			</p>
			<p>
				1⁰ para o cliente que entrou e não comprou nele é enviado o catálogo dos produtos para que ele veja e queira
				adquirir algo,
			</p>
			<p>
				2⁰ e-mail com o link do boleto ou pix, caso o cartão seja recusado,
			</p>
			<p>
				3⁰ e-mail agradecimento o cliente pela compra.
			</p>
			<p>
				4⁰ dia do aniversário apesar de ser robotico cria uma afeição com o cliente ou um consumidor que entrou no
				site, muito semelhantes aos de sazonalidades (ano novo, páscoa, dia D).
			</p>
			<p>
				Marketing do produto/serviço: Dentro das organizações é indispensável, pois o marketing está atrelado as vendas,
				se faz o anúncio faz o cliente pensar que necessita do produto/serviço, sua aquisição é inevitável, o que
				gera outros marketings como o do boca a boca.
				<li>
					Google Ads: nescessario saber palavras chaves e negativas, elas determina quanto vai ser gasto no anúncio pago.
				</li>
				<li>
					Redes Socias: apesar de ter pagamento em algumas redes, que são consideradas free, estas tem que estar sempre em
					atividade, fazendos postagens, strories, pois não é pago igual ao Google Ads ou Facebook Ads, nas postagens
					deve se compreender som, imagem se estão bem relacionados e o que eles promovem nas pessoas tem oefeito que
					a empresa gostaria.
				</li>
			</p>
		</div>

		<div>
			<p>
				Analise de dados:
			</p>
			<p>
				Business Intelligence:
			 	Cria analises de dados (estruturados) que refletiram acontecimentos do passado para a tomada de decisão
				da empresa para o futuro próximo.
			</p>
			<p>
				Métodos:
					<li>
						Coleta de dados (estruturados): SQL e suas variaveis.
					</li>
					<li>
						Modelagem de dados: retira linhas em branco, duplicadas, realiza cálculos, soma, média ponderada e etc.
						Visualização de dados: busca a melhor maneira de apresentar os dados preparados da modelagem, sem poluição visual, com leitura visível, cores adequadas, tooltips com informações prescisas
					</li>
			</p>
		</div>
    </section>
</body>
{% endblock %}