{% extends "base.html" %}

{% block body %}
<body>
    <section class="mae">
        <section class="explicando">
            <h1>Administração</h1>
            <p> Base de toda profissão, ela nós entrega conhecimentos para dominar varias áreas, indepedentemente da ocupação
                ou tamanho da empresa, por mais diverso seja, a administração estara lá, para axuliar pessoas a lidar
                com as tarefas do dia a dia de pessoas juridicas e até mesmo pessoas fisicas, pois sem ela nada tem direção,
            </p>
        </section>
            <figure>
                <img src="{{url_for('static',filename='fotos/administracao.jpg')}}">
            </figure>
    </section>
</body>
{% endblock %}