{% extends "base.html" %}

{% block body %}
<body>
    <section class="container">
        <h1> Benificio na sua Empresa </h1>
        <p>Administração:
            Profissão que atribui grandes qualidades e capacidade apenas para os que a realmente a compreende,
            entregando conhecimento desde o trabalho com recursos humanos ao logístico,
            do operacional ao financeiro, ensinando a tomar grandes decisões,
            que ajudam no dia a dia de pessoas físicas e jurídicas.
        </p>
        <figure class="adm">
            <img src="{{url_for('static',filename='fotos/administracao.jpg')}}">
        </figure>
    </section>
</body>
{% endblock %}