{% extends "base.html" %}

{% block body %}
<body>
    <section class="container" style="color: white">
        <h1>Benificios na sua Empresa</h1>
        <p>Excel:
            É ótimo ao criar pequenas tabelas e até mesmo relatórios semelhante ao Power bi,
            mais muito interessante ao fazer previsões do que se pode acontecer no futuro,
            sendo muito prático e rápido ao criar analises.
        </p>
        <div class="text-center">
            <img src="{{url_for('static',filename='fotos/excel.png')}}" class="img-fluid w-100" style="width: 300px;">
        </div>
        <div class="row mt-2">
        </div>
    </section>
    <div class="text-center">
        <a class="btn btn-primary" style="width: 555px" href="https://1drv.ms/x/s!Aiymc2w1BTuGnR_oRvWtzPLRqNwQ?e=akg6ZX" role="button"><strong>Vendas</strong></a>
    </div>
</body>
{% endblock %}