{% extends "base.html" %}

<header>
</header>
{% block body %}
<body>
    <section class="mae">
        <section class="explicando">
            <h1>Gastronomia</h1>
            <p> Conhecimento:
                Processos e técnicas de cozimento.
            </p>
                <ul class="lista_gastronomia" >
                    <li>
                         Fritar: profunda: 160g a 169g para rosquinhas, donuts e semelhantes, 170c⁰ a 180c⁰ para pasteis,
                            coxinhas e semelhantes. Rasa 160c⁰ a 180c⁰ para maioria dos alimentos.
                    </li>
                    <li>
                         Assar: levados ao forno pré aquecidos 15m antes a uma temperatura específica.
                    </li>
                    <li>
                         Grelhar: encontrado mais em uma churrasqueira, pouco conhecimento.
                    </li>
                    <li>
                         Defumar: usado madeira para dar mais sabor ao alimento, sendo defumação fria inferior a 37c⁰
                            exemplo: salmão, ou quente superior a 65c⁰, exemplo: linguiça.
                    </li>
                    <li>
                         Ferver: fogo alto, utilizados para massas de macarrão.
                    </li>
                    <li>
                         Sous Vide: em fogo baixo, cozinha alimentos a vácuo, preserva a textura e sabor.
                    </li>
                    <li>
                         Cozinhar a Vapor: o insumo é cozido a vapor, utilizado deixa cor vibrante e crocância no alimento
                            exemplo: brócolis.
                    </li>
                    <li>
                         Banho Maria: usado para ganaches entre outros, levados do bool para uma panela com água no fogo
                            baixo, o processo evita queimar o alimento, atento para não espirrar água.
                    </li>
                    <li>
                         Ensopar: cozinha alimentos em fogo baixo, usando água, caldo ou vinho, deixa o alimento macio.
                    </li>
                    <li>
                         Guisado: não muito diferente do ensopado, apenas tem seu líquido mais espesso.
                    </li>
                    <li>
                         Refogar: cozinha alimentos rapidamente em fogo baixo, em manteiga sem sal, azeite ou óleo,
                            seguido do cozimento lento.
                    </li>
                    <li>
                         Brasear: ao contrário do refogar, doura o alimento em alta temperatura, depois cozinhado em baixa
                            temperatura, trazendo macies.
                    </li>
                        Técnica de corte e seus tipos:
                    <li>
                        Técnica de corte:
                        "Garra": Traz proteção às pontas dos dedos, fazendo uma "Garra" com a mão de apoio.
                    </li>
                    <li>
                        Julienne: Fatias finas em formato de palito.
                    </li>
                    <li>
                        Baton: Fatias mais grossas.
                    </li>
                    <li>
                        Paysanne: Fatias irregulares.
                    </li>
                    <li>
                        Chiffonade: Fatias finas de folhas.
                    </li>
                    <li>
                        Rondelle: Rodelas finas
                    </li>
                    <li>
                        Tournée: Formato de diamante
                    </li>
                    <li>
                        Brunoise: cubos pequenos.
                    </li>
                    <li>
                        Macédoine: cubos maiores.
                    </li>
                    <hr>
                        3 merenguês:
                        <li>
                             Francês: claras em neve com açúcar, preparação cru.
                        </li>
                        <li>
                             Suíço: claras e açúcar mais levado ao banho maria para absorção da açúcar preservando a clara.
                        </li>
                        <li>
                             Italiano: semelhante ao francês, mais com adção de caramelo.
                        </li>
                    <hr>
                        5 pontos da carne:
                    <li>
                        Mal passada (selada): 50c⁰ a 54c⁰ vermelhada com um leve rosado, cru.
                    </li>
                    <li>
                        Ponto para mal: 55c⁰ a 59c⁰ aumento do rosado.
                    </li>
                    <li>
                        Ao ponto: 60c⁰ a 64c⁰ além do rosado com um pouco de suco, com aumento da borda acinzentada.
                    </li>
                    <li>
                        Ponto para bem: 65c⁰ a 69c⁰ um leve rosado no seu centro e um acinzentado maior.
                    </li>
                    <li>
                        Bem passado: a partir de 70c⁰ não a mais rosado, cor totalmente cinza e seca por dentro.
                    </li>
                    <li>
                        Obs.: Quanto mais cinza a cor aparecer no interior da carne menos suculenta e mais seca ela estará
                        gradativamente.
                    </li>
                   <!-- <hr>
                        4 grandes grupos de molhos:
                        <li>
                             Osso: dissolvido em água, mantendo uma textura firme.
                        </li>
                        <li>
                             Água, caldo ou vinho: preparado junto à vegetais.
                        </li>
                        <li>
                             Manteiga e Farinha: preparação de um roux, exemplo: Saurce Bechamel
                        </li>
                        <li>
                             Ovo e Óleo: emulsão de ovo com adção de óleo, maionese é um exemplo.
                        </li> -->
                    <hr>
                        Como adquiro Conhecimento:
                    <li>
                        Sou Autodidata, para aprender, pesquiso no mercado em embalagens ou sites mais conceituados de receitas,
                        tendo a base começo o preparo, para fazer uma receita criada por mim ou aperfeiçoada.
                    </li>
                </ul>
            <footer>
            </footer>
        </section>
            <figure>
            </figure>
    </section>
</body>
{% endblock %}
