{% extends "base.html" %}

<header>
</header>
{% block body %}
<body>
    <section class="mae">
        <section class="explicando">
            <h1>Gastronomia</h1>
            <p>
                Processos e técnicas de cozimento.
            </p>
                <ul class="lista_gastronomia" >
                    <li>
                         Fritar: profunda: 160g a 169g para rosquinhas, donuts e semelhantes, 170c⁰ a 180c⁰ para pasteis,
                            coxinhas e semelhantes. Rasa 160c⁰ a 180c⁰ para maioria dos alimentos.
                    </li>
                    <li>
                         Assar: levados ao forno pré aquecidos 15m antes a uma temperatura específica.
                    </li>
                    <li>
                         Grelhar: encontrado mais em uma churrasqueira, pouco conhecimento.
                    </li>
                    <li>
                         Defumar: usado madeira para dar mais sabor ao alimento, sendo defumação fria inferior a 37c⁰
                            exemplo: salmão, ou quente superior a 65c⁰, exemplo: linguiça.
                    </li>
                    <li>
                         Ferver: fogo alto, utilizados para massas de macarrão.
                    </li>
                    <li>
                         Sous Vide: em fogo baixo, cozinha alimentos a vácuo, preserva a textura e sabor.
                    </li>
                    <li>
                         Cozinhar a Vapor: o insumo é cozido a vapor, utilizado deixa cor vibrante e crocância no alimento
                            exemplo: brócolis.
                    </li>
                    <li>
                         Banho Maria: usado para ganaches entre outros, levados do bool para uma panela com água no fogo
                            baixo, o processo evita queimar o alimento, atento para não espirrar água.
                    </li>
                    <li>
                         Ensopar: cozinha alimentos em fogo baixo, usando água, caldo ou vinho, deixa o alimento macio.
                    </li>
                    <li>
                         Guisado: não muito diferente do ensopado, apenas tem seu líquido mais espesso.
                    </li>
                    <li>
                         Refogar: cozinha alimentos rapidamente em fogo baixo, em manteiga sem sal, azeite ou óleo,
                            seguido do cozimento lento.
                    </li>
                    <li>
                         Brasear: ao contrário do refogar, doura o alimento em alta temperatura, depois cozinhado em baixa
                            temperatura, trazendo macies.
                    </li>
                    <hr>
                        Técnica de corte:
                    <li>
                        Técnica de corte:
                        "Garra": Traz proteção às pontas dos dedos, fazendo uma "Garra" com a mão de apoio.
                    </li>
                    <hr>
                        Cortes:
                    <li>
                        Julienne: Fatias finas em formato de palito.
                    </li>
                    <li>
                        Baton: Fatias mais grossas.
                    </li>
                    <li>
                        Paysanne: Fatias irregulares.
                    </li>
                    <li>
                        Chiffonade: Fatias finas de folhas.
                    </li>
                    <li>
                        Rondelle: Rodelas finas
                    </li>
                    <li>
                        Tournée: Formato de diamante
                    </li>
                    <li>
                        Brunoise: cubos pequenos.
                    </li>
                    <li>
                        Macédoine: cubos maiores.
                    </li>
                    <hr>
                        Merenguês:
                        <li>
                             Francês: claras em neve com açúcar, preparação cru.
                        </li>
                        <li>
                             Suíço: claras e açúcar mais levado ao banho maria para absorção da açúcar preservando a clara.
                        </li>
                        <li>
                             Italiano: semelhante ao francês, mais com adção de caramelo.
                        </li>
                    <hr>
                        Pontos da carne:
                    <li>
                        Mal passada (selada): 50c⁰ a 54c⁰ vermelhada com um leve rosado, cru.
                    </li>
                    <li>
                        Ponto para mal: 55c⁰ a 59c⁰ aumento do rosado.
                    </li>
                    <li>
                        Ao ponto: 60c⁰ a 64c⁰ além do rosado com um pouco de suco, com aumento da borda acinzentada.
                    </li>
                    <li>
                        Ponto para bem: 65c⁰ a 69c⁰ um leve rosado no seu centro e um acinzentado maior.
                    </li>
                    <li>
                        Bem passado: a partir de 70c⁰ não a mais rosado, cor totalmente cinza e seca por dentro.
                    </li>
                    <li>
                        Obs.: Quanto mais cinza a cor aparecer no interior da carne menos suculenta e mais seca ela estará
                        gradativamente.
                    </li>
                    <hr>
                        Grupos de molhos
                        composição:
                   <li>
                       Osso de frango ou vitela: dissolvido em água, mantendo uma textura firme, exemplo: Velouté
                   </li>
                   <li>
                       Osso de boy: também dissolvido em água porém com uma consistência mais robusta, exemplo: Espagnole
                   </li>
                   <li>
                       Manteiga e Farinha: preparação de um rux, exemplo: Saurce Bechamel
                   </li>
                   <li>
                       Ovo e Óleo: emulsão de ovo com adição de óleo e limão, exemplo: Allemande
                   </li>
                   <li>
                       Água e vegetais: vegetais cozinhados em água, exemplo: molho de tomate.
                   </li>                      <hr>
                        Como adquiro Conhecimento:
                    <li>
                        Sou Autodidata, para aprender, pesquiso no mercado em embalagens ou sites mais conceituados de receitas,
                        tendo a base começo o preparo, para fazer uma receita criada por mim ou aperfeiçoada.
                    </li>
                </ul>
            <hr>
                 <h1>Receitas:</h1>

                <section class="receitas">
                    <div>
                        <p>
                            <strong>Arroz Branco:</strong>
                        </p>
                        <p>
                            Ingredientes:
                        </p>
                        <li>
                            480g de arroz.
                        </li>
                        <li>
                            960ml d'água.
                        </li>
                        <li>
                            6g de alho.
                        </li>
                        <li>
                            manteiga sem sal quaintidade pequena apenas para refogar.
                        </li>
                        <li>
                            12g de sal.
                        </li>
                    </div>
                    <div>
                        <p>
                            <strong>Preparo:</strong>
                        </p>
                        <li>
                            coloque 960ml de agua para aquecer (diminui o tempo de cozimento).
                        </li>
                        <li>
                            descasque, retire a semente (amarga) do alho, corte-o em brunoise (cubos pequenos).
                        </li>
                        <li>
                            adcione um pedaço de mantega sem sal em uma panela, em seguida adcione o alho em forma de
                            brunoise.
                        </li>
                        <li>
                            adcione 480g de arroz.
                        </li>
                        <li>
                            adcione 960ml de agua morna.
                        </li>
                        <li>
                            adcione 12g de sal, tampe 70% da penela e deixe em fogo: médio-alto.
                        </li>
                    </div>
                    <hr>
                    <div>
                        <p>
                        <strong>Feijão Jálo:</strong>
                        </p>
                        <p>
                            Ingredientes:
                        </p>
                        <li>
                            500g de feijão jalo.
                        </li>
                        <li>
                            1L d'água.
                        </li>
                        <li>
                            1 folha de louro.
                        </li>
                        <li>
                            manteiga sem sal quaintidade pequena apenas para refogar.
                        </li>
                        <li>
                            7g de alho.
                        </li>
                        <li>
                            5g de sal.
                        </li>
                    </div>
                    <div>
                        <p>
                            <strong>Preparo:</strong>
                        </p>
                        <li>
                            Adcione o feijao de molho 8h a 12h (diminui o tempo de cozimento), troque na metade do
                            intervalo.
                        </li>
                        <li>
                            Adcione o jeijão jalo, 1 litro d'agua e 1 folha de louro na panela de pressão fogo médio
                            até apitar, desligue e deixe sair o ar naturalmente.
                        </li>
                        <li>
                            adcione um pedaço de mantega sem sal em uma panela em fogo baixo, em seguida adcione o alho
                            em forma de brunoise.
                        </li>
                        <li>
                            antes do alho dourar adcione 500g de feijão Jalo.
                        </li>
                        <li>
                            aumente o fogo.
                        </li>
                        <li>
                            adcione 5g de sal, deixe o caldo engrossar.
                        </li>
                    </div>
                    <hr>
                    <div>
                        <p>
                        <strong>Iorgute:</strong>
                        </p>
                        <p>
                            Ingredientes:
                        </p>
                        <li>
                            400ml de creme de leite fresco (cerca de 38% de godura do peso total ao de caixa cerca de 17%).
                        </li>
                        <li>
                            150ml de suco de opcional.
                        </li>
                        <li>
                            45g de açúcar.
                        </li>
                        <li>
                            0,5g de sal.
                        </li>
                        <li>
                            1 gema de ovo.
                        </li>
                        <li>
                            cerca de 150g de polpa de maracuja (opcional) ou pedaços e raspas de uma fruta.
                        </li>

                        <li>
                            Leite até dar o ponto (pouco cremoso, muito líquido).
                        </li>
                    </div>
                    <div>
                        <p>
                            <strong>Preparo:</strong>
                        </p>
                        <li>
                            adcione: creme de leite fesco, 150ml de suco (opcional), 45g de açucar, 0,5g de sal, raspas,
                            pedaços ou polpa, dentro da panela homogenize-os e cozinhe em fogo baixo cerca de 20s a fumaçar.
                        </li>
                        <li>
                            adcione 1 gema de ovo e mexa rapido para não virar omelete.
                        </li>
                        <li>
                            Deixe esfriar, depois refigere por 2 horas.
                        </li>
                        <li>
                            Adcione leite até dar o ponto (pouco fica cremoso a muito fica liquido).
                        </li>
                    </div>
                </section>
            <footer>
            </footer>
        </section>
            <figure>
            </figure>
    </section>
</body>
{% endblock %}
