{% extends "base.html" %}

{% block body %}
<body>
    <section class="container">
        <h1>HTML&CSS</h1>
        <p>   Linguagem de programação onde Html traz em si o backend na qual é toda a estrutura prescisa para criação de sites,
            enquanto Css traz o Frontend, ou seja, todo o desingn, layout do site.
        </p>
        <figure>
            <img src="{{url_for('static',filename='fotos/htmlecss.png')}}" class="w-1300 h-650">
        </figure>
    </section>
</body>
{% endblock %}