{% extends "base.html" %}

{% block body %}
<body>
    <section class="container" style="color: white">
        <h1> Benificios na sua Empresa </h1>
        <p>HTML&CSS:
            Linguagem de programação onde Html traz em si o backend na qual é toda a estrutura prescisa para criação de sites,
            enquanto Css traz o Frontend, ou seja, todo o desingn, layout do site.
        </p>
        <div class="text-center">
            <img src="{{url_for('static',filename='fotos/htmlecss.png')}}" class="img-fluid w-100" style="width: 300px;">
        </div>
    </section>
</body>
{% endblock %}