{% extends "base.html" %}

<header>
</header>
{% block body %}
<body>
    <section class="mae">
        <section class="explicando">
            <h1 class="titulo_gastronomia">Minha Visão</h1>
                <section class="lista_minhavisao">
                    <div>
                        <li>
                            <h2>Financeiro:</h2> Embora boa parte do conhecimento não provém de instituição de ensino, minhas
                            praticas do dia a dia, mostra que pelo menos uma base forte existe, como separaco
                            de recursos finaceiros cada um destinado a um próposito e ai vem uma pequena
                            quantia gasta em itens que faz valer mais a cada tempo que passa, embora esse é
                            mais gestão.
                        </li>
                        <p></p>
                        <div class="meio_ambiente">

                            <li>
                                <h2>Meio Ambiente:</h2>
                                <h2>luz:</h2> so deixo acesa se stiver mexendo no comodo, se sair apago a luz e acendo
                                o qual estou indo, se estiver utilizando o celular deixo apagada, não vejo como ruim
                                ficar sozinho no escuro.
                                <br>
                                <br>
                                <h2>Água:</h2> ultilizo apenas para enxague, seja escovando dente, bochechando, tomando banho,
                                lavando vasilhas, uso balde em vez de mangueira por n~~ao ver nescessidade, sendo
                                que abro a toneira o minimo possivel que no meu ver é apenas o nescessario, é como
                                uma torneira por aproximação servindo para chuveiro e vaso sanitario.
                                <br>
                                <br>
                                <h2>Alimentação:</h2> dificilmente tenho lixo organico so em casos extremos
                                (comida vencida ou estragada) que busco evitar o maximo possivel, sendo
                                que cascas e sementes reaproveito,
                                ex: alho cozinho a casca e depois de coado da para usar em sopa de
                                legumes, arroz, feijao entre outros, maracuja pode virar um curd sobremesa
                                onde sua formula vem de manteiga s/sal, gema de ovo, sementes posso fazer
                                geleia embora o que faz valer sao os nutrientes que cada item traz para a
                                saude humana.
                                <br>
                                <br>
                                 <h2>Reciclagem:</h2> faço meu lixo comum dura 1 mês para encher um sacola,
                                 fios, eletronicos, tecidos, vidro, papel e entre outros busco descartar em local
                                ideal, a maioria nas URPV, embora acredito que todos os supermercados deveria
                                ter uma
                            </li>
                        <li>
                            <h2>lazer:</h2>
                             Gosto de praticar exercicios, faço academia, embora não vejo tão nescessario ser
                            membro de uma, pois posso exercitar em casa o que evitaria o tempo de arrumar, ida,
                            vinda e as vezes ate dividir com mais de 1 pessoa os equipamentos, acredito que
                            deveria ter mais como algo que englobasse, alguns campeonatos gratuitos, aula de
                            luta, danca, uma area de lazer como se fosse algo no nivel premium mais para todos,
                            mesmo que fosse um pouco mais caro das mensalidades atuais, acredito que valeria no
                            pensameto de muitos em querer frequentar um lugar destes realmente uma academia.
                        </li>
                        <li>
                            <h2>Social:</h2>
                             Homem de muitas conecções, busco sempre as pessoas mais compativeis comigo,
                            embora muitos se encontra em mim, temos um caminho distinto, sendo por eles
                            vindo da maioria respeito e admiração, caminho sozinho, evito ter sentimentos
                            e pensamnetos que mulheres não presta, ou apenas para satisfazer um prazer
                            sexual, não julgo pessoas por orientação sexual, converso e respeito todas e
                            todos basta ter caracter sempre deixo claro sou hetero embora vou paracer mais
                            assexuado, acredito que sou assim por conhecer sexologia e limites entre pessoas,
                            não acredito que presciso de algum ser humano para viver, embora não recuso a
                            convivencia
                        </li>
                        <li>
                            <h2>Espiritual:</h2>
                             Acredito em Deuses e Deus dos Deuses, água, vitoria, sol, natureza (mãe natureza),
                            para mim são Deuses e o criador Deus dos Deuses, é o que faz eu conectar com
                            pessoas de indetermindas religiões muitas ate bem distintas apenas por acreditar
                            que o criador é oniciente, onipotente e onipresente, aquele que é unico, inicio
                            e fim, vida e morte, não chego dizendo o nome dele, te mostro como eu descobrir, é
                            como na matematica se eu falar para que não sabe que 1 + 1 = 2, não vai saber como
                            e porque.
                        </li>
                        <li>
                            <h2>Palavras:</h2>
                             Todas as palavras para mim sempre tem 2 significados no minimo, bom e mal,
                            ex: assédio pode ser uma pessoa que importunou outra, mais pode ser um
                            jogador que levantou a torcida com gol, assim sou para todas as palavras, pois
                            demostro real verdade no que falo e por ser muito aceito com esses atos, é por
                            todas elas ter caracter positivo, e sempre na maior verdade pois que elas vem de
                            sentimentos e são base de ações.
                        </li>
                        <li>
                            <h2>Infância:</h2>
                             Quando era pequeno pensava muito, em ser rico, comecei pensar em ser veterinário,
                            depois por sempre receber muitos elogios e ate um convite para jogar em um time de
                            futebol de um professor de educação fisica no qual competia com alguns gigantes do
                            futebol de MG, pensei em virar um jogador gigante, mais ficou so no sonho minha mãe na epoca não
                            investiu em mim, embora desde novo sempre pensei em invesir o dinheiro que poderia
                            vir destes sonhos em empresas, até conseguir abrir um cnpj, nos quais as estapas,
                            ficava cada vez mais faceis e até diminuia e o gasto também, so abrir uma empresa
                            aos 24 anos depois de saciar com conhecimentos de economia, saber o que era e é
                            nescessario conquistar, ter no dia a dia e conhecer muitas formas de fazer, recursos
                            financeiros, hoje vejo que ser milhonario não é tão nescessario é melhor ter ações,
                            sendo a base dos homens mais ricos do mundo, diferente de famosos com dinheiro, que
                            gasta fortunas com itens que as vezes não vale o preço, ouro onde não prescisa,
                            muitas das vezes terão que ser destruidas pois no futuro não tera espaço para
                            eles, pois não se usara mais, acredito no essencial para viver embora não
                            conquistei tudo que quero ainda para viver, mais não vivo trabalhando para pagar
                            contas ex: se divertir todo fim de semana e depois trabalhar o mes para pagar,
                            tenho uma pequena verba, destinada a isso.
                        </li>
                        <li>
                            <h2>Foco:</h2>
                             Hoje em 2026 busco alavancar meu CNPJ de progamação, no qual criado no mesmo ano,
                            investir em equipamentos, para fabricação de moveis, joias, roupas, alimentação
                            pois, dificilmente o que tem no mercado mi agrada seja pelo desing ou sabor, ir ao
                            shopping não vejo satisfação, focarei em máquinas primeiro, gosto de aprender a
                            fazer de tudo, roupas, moveis, cozinhar, cortar cabelo, mais dificil é um carro e
                            uma moto, mais é fazer, aquisitar não é muito distante, muito mais barato e rico,
                            pois muitas vezes o preço do produto é apenas 15% ou 2,5x maior, ex: 10.000 o preço
                            dos materias é 1.500 e a qualidade nescessaria está muito acima do que a maioria
                            pode aquisitar, boto fé que os equipamentos são mais nescessarios do que o processo que pode se
                            enquadrado com o tempo boa parte das vezes, mesmo que conquiste milhoes
                            vou querer viver, de uma forma que a maioria em seu livre-arbitrio consegue, quero
                            ir mais em jogos de futebol, continuar malhando e dançando na smart fit, continuar
                            minha gestão no game Hay Day, jogar free fire para mim o 2° melhor jogo que
                            desfruto, muito por ser mobile, competitivo e de tiro, talvez ganhar alguns
                            presentes de CNPJ, como um dia ja ganhei.
                        </li>
                </section>
            <figure>
            </figure>
    </section>
</body>
{% endblock %}
