{% extends "base.html" %}

{% block body %}
<body>
    <section class="mae">
        <section class="explicando">
            <h1>Power Point</h1>
            <p> Um dos melhores softwares de apresentação se não o melhor,
                pois podemos utiliza-lo para nos ajudar nas apresentações,
                mostrar mais clareza em pontos específicos,
                trazendo até mesmo interatividade nas apresentações.
            </p>
        </section>
            <figure>
                <img src="{{url_for('static',filename='fotos/powerpoint.png')}}">
            </figure>
        <section class="botao">
            <a class="btn btn-primary" href="https://1drv.ms/p/s!Aiymc2w1BTuGj1kCrXg2M1-jVte0?e=6wzH3k" role="button" target="_blank"><strong>Mi Apresentando</strong></a>
        </section>
    </section>
</body>
{% endblock %}



