{% extends "base.html" %}

{% block body %}
<body>
    <section class="mae">
        <section class="explicando">
            <h1>Python</h1>
            <p> linguagem de programação, onde nos entrega capacidades de desenvolver sistemas,
                criar grandes analises com bases de dados gigantes,
                sendo que nos traz a liberdade nas integrações tanto em outros softwares e
                até mesmo linguagens de programação, sendo em Web Scraping(Raspagem da Web), onde nós entrega a
                capacidade de fazer automações, facilitando assim o dia a dia empresarial,
                sendo usada por grandes empresas como: Google, Netflix e tantas outras empresas que dominam o mercado.
            </p>
        </section>
            <figure>
                <img src="{{url_for('static',filename='fotos/python.png')}}">
            </figure>
        <section class="botao">
            <a class="btn btn-primary" href="{{url_for('static',filename='pythonarquivos/consultajuridica.zip')}}" role="button" download><strong>Juridica(Web Scraping)</strong></a>
            <a class="btn btn-primary" href="{{url_for('static',filename='pythonarquivos/analisededados.zip')}}" role="button" download><strong>Analise de Dados</strong></a>
        </section>
    </section>
</body>
{% endblock %}