{% extends "base.html" %}

{%block head%}
{%endblock%}

{% block body %}
<body>
    <section class="mae">
        <section class="img">
            <figure>
                <img src="{{url_for('static',filename='fotos/corujatecnologica.jpg')}}">
            </figure>
        </section>
        <section class="conteudo-principal">
            <div>
                <h1 id="h1principal">Quem Sou Eu?</h1>
                <p><strong>Nome:</strong> Melquisedeque Cupetino Alves</p>
                <p>
                    <strong>Área / Cargo:</strong> Administração / Assistente
                </p>
                <p>
                    <strong>G-mail:</strong> melquialves2001@gmail.com
                </p>
                <p>
                    <strong>Endereço:</strong> Belo Horizonte-MG
                </p>
                <p>
                    <strong>Idade:</strong> 23 ANOS
                </p>
                <p>
                    <strong>Objetivo:</strong> Ser um profissional que domina tecnologia e leva conhecimento as empresas
                    em um mercado concorrido.
                </p>
                <p>
                    <strong>Sobre Mim:</strong>
                    Sou Melquisedeque, 23 anos, natural de BH, formei técnico em Administração e por ter conhecimento em
                    várias áreas busco de tempo em tempo estar em uma área diferente, mais sempre seguindo um planejamento,
                    tenho também vários cursos que mi proporciona esta capacidade em mi favorece em muitas áreas da
                    administração, como python e pacote Office impressionador, sou muito adaptativo, perceptivo e
                    tecnológico também, gosto de manter postura pois evita estar vulnerável ao próximo sentimento o que não é
                    adequado, embora isso não é ser sem emoção mais apenas o necessário, estou em busca sempre de mais
                    conhecimento pois para mim que deseja ser visto cada vez mais como generalista é fundamental adquiri-lo.
                </p>
            </div>
            <section class="botao">
                 <a class="btn btn-primary" target="_blank" href="https://youtu.be/LZT9KyW7l2s" role="button"><strong>Mi Apresentando </strong></a>
            </section>

            <strong><h1 class="h1experiencias">Experiências:</h1></strong>

            <div>
                <p>
                    <h1>Empresa: MB CARR Service</h1>
                </p>
                <p>
                    Local: BH-MG
                </p>
                <p>
                    Contrato: Estágio
                </p>
                <p>
                    Cargo: auxiliar administrativo/ financeiro/ almoxarife
                </p>
                <p>
                    Tipo: integral
                </p>
                <p>
                    Tempo: 04/2022 - 06/2022
                </p>
                <p>
                    Na empresa fui contratado como estagiário para em curto prazo ser um gestor, fazendo tarefas como
                    auxiliar administrativo, almoxarife: recebimento, conferência quantitativa e qualitativa, armazenagem e
                    distribuição para toda a mecânica, atendimento ao cliente, elaboração de orçamentos,
                    contas a pagar (separação por tipo, data),
                    implementando ideias como criação de um site para o marketing da empresa, uma planilha para controle do
                    estoque.
                </p>
                <p>
                    <strong>Competências:</strong> fácil adaptação, Inteligência, atendimento ao cliente, proativo, resolução de problemas.
                </p>
            </div>
            <div>
                <p>
                    <h1>Empresa: MJM Contabilidade</h1>
                </p>
                <p>
                    Local: BH-MG
                </p>
                <p>
                    Contrato: Estágio
                </p>
                <p>
                    Cargo: auxiliar contábil
                </p>
                <p>
                    Tipo: integral
                </p>
                <p>
                    Tempo: 10/2022 - 12/202
                </p>
                <p>
                    Contratado pela empresa para ajudar na restruturação, do setor fiscal, fui muito importante,
                    fazendo tarefas e completando-as em curto periodo de tempo já que no final do exercício, pode haver
                    pagamento de multa por algumas empresas, dominei o software de contabilidade Domínio Escrita Fiscal
                    (Coleta de Documentos Fiscais, Classificação e Registros, Calcular e Recolhimento de impostos,
                    Elaboração e entrega de obrigações Acessórias),
                    mostrei inteligencia em fazer o que muitos não sabiam, além de entregar a ideia de colocar as
                    planilhas de cada cidade juntas para que todos pudessem utiliza-las simultaneamente sem gargalo,
                    já que pela ética, as senhas das empresas eram trocadas várias vezes dentro do exercício da empresa,
                    o que culminava muitas das vezes 3 setores trocar a senha das mesmas empresas já que tinha diversas
                    planilhas com o mesmo grupo de empresas contando o mesmo CNPJ estavam espalhados pela contabilidade,
                    ou seja, o setor de RH trocava a senha da empresa com o mesmo CNPJ que o Financeiro ou outro setor
                    também trocava, dada a ideia a 1° pessoa do 1° que a pegasse trocava a senha para todos.
                </p>
                <p>
                    <strong>Competências:</strong> fácil adaptação, trabalho em equipe, inteligencia, boa digitação, DR,
                    razonet, are, balancete de verificação, balanço patrionial, ficha kardex, livro diario,
                    fluxo de caixa, operação de caixa, tabela price e sac, juros simples e compostos.
                </p>
            </div>

            <div>
                <p>
                    <h1>Empresa: J&T Express</h1>
                </p>
                <p>
                    Local: Contagem-MG
                </p>
                <p>
                    Contrato: Intermitente
                </p>
                <p>
                    Cargo: auxiliar de logistica I
                </p>
                <p>
                    Tipo: integral
                </p>
                <p>
                    Tempo: 06/2023 - 07/2023
                </p>
                <p>
                    Na J&T Express fiz tarefas como descarregamento, carregamento, conferencia e separação de
                    mercadoria, apesar de ser uma passagem bem curta, impressionei algumas pessoas pela inteligência de
                    lidar com tarefas e força ao carregar um caminhão sozinho, como os líderes Lucio e Adriel, onde
                    ofereceram um contrato CLT mais recusei, junto a empresa que mi terceirizou por não concordar com a
                    cláusula do contrato.
                </p>
                <p>
                    <strong>Competências:</strong> fácil adaptação, trabalho em equipe, inteligência, força, agilidade.
                </p>
            </div>

            <di>
                <p>
                    <h1>Empresa: Apoio Mineiro S.A</h1>
                </p>
                <p>
                    Local: BH-MG
                </p>
                <p>
                    Contrato: temporário
                </p>
                <p>
                    Cargo: auxiliar operacional I
                </p>
                <p>
                    Tipo: integral
                </p>
                <p>
                    Tempo: 01/2024 - 03/2024
                </p>
                <p>
                    Trabalhei durante 3 meses no Apoio Mineiro, fiz tarefas como: carga e descarga, separação,
                    armazenagem e reposição de mercadorias no quesito Horti Fruti (seguindo a metodologia PEPS pois a
                    que usavam era falha no Horti Fruti e ao comunicar com supervisor, o gerente no outro dia viu que
                    era presciso altera-la), controle de qualidade, gestão de qualidade, atendimento ao cliente e até
                    mesmo marketing do produto sendo onde, como o produto e preço deveria ficar para chamar atenção ou
                    fazer com que o cliente continuasse mais tempo na área de vendas, tudo isso dentro da excelência
                    operacional, mostrando não só força e fácil adaptação, mais muita inteligência e percepção.
                </p>
                <p>
                    <strong>Competências:</strong> fácil adaptação, inteligência, gestão da qualidade,
                    atendimento ao cliente, reposição de estoque.
                </p>
            </di>

            <di>
                <p>
                   <h1>Empresa: Pet Cães&Cia</h1>
                </p>
                <p>
                    Local: BH-MG
                </p>
                <p>
                    Contrato: temporário
                </p>
                <p>
                    Cargo: auxiliar de logística I
                </p>
                <p>
                    Tipo: integral
                </p>
                <p>
                    Tempo: 05/2024 - 08/2024
                </p>
                <p>
                    Na Pet Cães&Cia fui contratado como Estoquista em seu CD, buscando levar conhecimento a uma área que
                    muitas empresas não tem ou por ser funcionarios muitos jovens ou conterem apenas o ensino médio
                    completo. Enquanto vesti a camisa da Pet Cães, mostrei muita inteligência, porem direi de 3
                    planejamentos: 1⁰ o Cross Doking que mudou a forma da empresa de agir, pois com a metodologia de
                    abastecimento, diminui a perca do valor do estoque com o tempo e as perdas dos produtos já que
                    continham data de validade, analisando na 1⁰ semana se já o tinha ou não perguntei quantas kg de
                    rações venciam em média por mes sendo "2 mil a 3 mil kg por mes" segundo um supervisor, afetando
                    diretamente o financeiro e contábil da empresa, apesar de prolongarem um pouco implementar, vi que
                    na implementação teve a falta de uma margem de segurança o que prejudica o cálculo do tempo do
                    fornecedor (Lead Time), ainda em análise do estoque notei que alguns produtos tinham um baixo fluxo
                    de vendas fazendo então mais 2 planejamentos: 1⁰ fui pesquisar no site da empresa e ver se o
                    produto estava em anunciado sendo muito efetiva a ideia e recebendo um ótimo feedback da gestora do
                    marketing que disse que "ajudou muito sim" sendo compreendido um pouco da minha parte uma falta de
                    comunhão entre quem compra e quem anuncia, o 2⁰ planejamento foi fazer uma lista de fornecedores
                    para que estes pudessem estar no lugar dos que continham um baixo fluxo de vendas, mostrado ao CEO
                    no qual viu muita inteligência, embora não dei continuidade pois achei que não conseguiria manter o
                    ritmo e também pela péssima gestão de alguns supervisores.
                </p>
                <p>
                    <strong>Competências:</strong> fácil adaptação, trabalho em equipe, inteligência, proativo,
                    resolução de problemas, recebimento, conferência, armazenamento, cadastramento, controle de estoque,
                    separação, distribuição, sistema PEPS, inventário.
                </p>
            </di>
        </section>
        <section class="redes-sociais">
               <h4><strong>Redes Socias</strong></h4>
               <a href="https://api.whatsapp.com/send?phone=5531991048405"><img id="whats" src="{{url_for('static',filename='fotos/qrcode_whatsapp.jpg')}}" target="_blank"></a>
               <a href="http://www.linkedin.com/in/melquisedeque-cupertino"><img id="linkedin" src="{{url_for('static',filename='fotos/qrcode_linkedin.png')}}" target="_blank" ></a>
        </section>
        <footer>
        </footer>
    </section>
</body>
{% endblock %}