{% extends "base.html" %}

{%block head%}
{%endblock%}

{% block body %}
<body>
    <div class="text-center mt-2 mb-2" height="100">
        <img src="{{url_for('static',filename='fotos/fotoanalitica.jpeg')}}">
    </div>
    <div class="container">
         <div class="row" style="color: white">
            <div class="col-2 text-truncate" style="max-width: ;1050px">
            </div>
            <div class="text-center">
                <h1>Melquisedeque Cupertino Alves</h1>
            </div>
            <span class="d-inline-block text-truncate" style="max-width: 1050px;"><strong>Área desejada:</strong> Analise de Dados</span>
            <span class="d-inline-block text-truncate" style="max-width: 1050px;"><strong>G-mail:</strong> melquialves2001@gmail.com</span>
            <span class="d-inline-block text-truncate" style="max-width: 1050px;"><strong>Endereço:</strong>Rua Terãa, Glória, BH, MG</span>
            <span class="d-inline-block text-truncate" style="max-width: 1050px;"><strong>Idade:</strong> 22 ANOS</span>
            <span class="d-inline-block text-truncate" style="max-width: 1050px;"><strong>Objetivo:</strong> Ser um profissional que domina tecnologia e leva conhecimento as empresas para se destacar contra as concorrentes.</span>
            <span class="d-inline-block text-truncate" style="max-width: 1050px;">
            <strong>Experiência:</strong>
            J&T Express Brasil – Contagem, MG
            Julho 2023 a Julho 2023
            </span>
            <span class="d-inline-block text-truncate" style="max-width: 5050;"><strong>Procedimentos:</strong>
            Prestei serviço como freelancer mostrando agilidade, velocidade, inteligencia, trabalhando no descarregamento, carregamento e
            </span>
            <span class="d-inline-block text-truncate" style="max-width: 20050px;">
            separando mercadorias.
            </span>
            <span class="d-inline-block text-truncate" style="max-width: 20050px;"><strong>Habilidades:</strong> Fácil Aprendizagem, Esforçado, Criativo, Proativo, Educado, Responsável, Boa Digitação, Organizado, Trabalho em equipe, agíl, veloz.
            </span>
            <div class="row mt-5">
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a class="btn btn-white" style="background-color: #FFF6FF;" href="https://youtu.be/LZT9KyW7l2s" role="button"><strong> Video Mi Apresentando </strong></a>
                </div>
            </div>
            <div class="row mt-3">
            </div>
            <anside class="row-1">
                <h1> Redes Sociais: </h1>
                <a href="http://www.linkedin.com/in/melquisedeque-cupertino"><img src="{{url_for('static',filename='fotos/qrcode_linkedin.png')}}" target="_blank" width="95" height="95"></a>
                <a href="https://api.whatsapp.com/send?phone=5531991048405"><img src="{{url_for('static',filename='fotos/qrcode_whatsapp.jpg')}}" alt="Descrição da imagem" width="100" height="100"></a>
                <a href="https://profile.indeed.com/p/melquisedequic-fxbhmjf"><img src="{{url_for('static',filename='fotos/qrcode_indeed.png')}}" alt="Descrição da imagem" width="100" height="100"></a>
            </anside>
        </div>
    </div>
</body>
{% endblock %}