{% extends "base.html" %}

{%block head%}
{%endblock%}

{% block body %}
<body>
    <section class="mae">
        <section class="img">
            <figure>
                <img src="{{url_for('static',filename='fotos/corujatecnologica.jpg')}}">
            </figure>
        </section>
        <section class="conteudo-principal">
            <h1 id="principal">Melquisedeque C. Alves</h1>
            <p>
                <strong>Área / Cargo:</strong> Administração / Assistente
            </p>
            <p>
                <strong>G-mail:</strong> melquialves2001@gmail.com
            </p>
            <p>
                <strong>Endereço:</strong> Belo Horizonte-MG
            </p>
            <p>
                <strong>Idade:</strong> 23 ANOS
            </p>
            <p>
                <strong>Objetivo:</strong> Ser um profissional que domina tecnologia e leva conhecimento as empresas
                em um mercado concorrido.
            </p>

            <hr>

            <p>
                <strong>Experiência:</strong>
                MBCarr Service – Belo Horizonte - UF:MG - Abril 2022 a Junho 2022
            </p>
            <p>
                <strong>Área / Função:</strong> Administração / Auxiliar Administrativo e Almoxarife.
            <p>
                <strong>Tarefas:</strong> Auxiliar Administrativo,  Atendimento ao cliente(receptivo), Compras(Cotas, Negociação),
                Almoxarifado(Recebimento de mercadoria, Conferencia: Quantitativa e Qualitativa,
                Armazenagem, Distribuição), Elaboração de Planilhas(Excel) e Orçamentos(sistema proprio da empresa),
                Monitoramento de Veículos.
            </p>
            <p>
                <strong>Habilidades neste cargo:</strong> Inteligencia, Criativo, Ágil, Proativo, Responsável.
            </p>
            </p>

            <hr>

            <p>
                <strong>Experiência:</strong>
                MJM Contabilidade – Belo Horizonte - UF:MG - Outubro 2022 a Dezembro 2022
            </p>
            <p>
                <strong>Área / Função:</strong> Contabilidade / Assistente Fiscal
            </p>
            <p>
                <strong>Tarefas:</strong>  Domínio Escrita Fiscal(Coleta de Documentos Fiscais, Classificação e Registros, Calcular e Recolhimento de impostos, Elaboração e entrega de obrigações Acessórias),
            </p>
            <p>
                <strong>Habilidades neste cargo:</strong> Responsável, Inteligente, Proativo, Boa Digitação, Trabalho em equipe.
            </p>
            <p>
                <strong>Conhecimentos sobre o cargos:</strong> Operacões de caixa, Fluxo de caixa, Conciliação bancária, Livro diario, DR, Razonet, ARE, Balancet de verificação, Balanço Patrionial.
            </p>

            <hr>

            <p>
                <strong>Habilidades:</strong> Percepção, Facil Adaptação, Inteligencia, Técnologico, Solução de Problemas.
            </p>
        </section>
        <section class="botao">
            <a class="btn btn-primary" target="_blank" href="https://youtu.be/LZT9KyW7l2s" role="button"><strong>Mi Apresentando </strong></a>
        </section>
        <section class="redes-sociais">
               <h4><strong>Redes Socias</strong></h4>
               <a href="https://api.whatsapp.com/send?phone=5531991048405"><img id="whats" src="{{url_for('static',filename='fotos/qrcode_whatsapp.jpg')}}" target="_blank"></a>
               <a href="http://www.linkedin.com/in/melquisedeque-cupertino"><img id="linkedin" src="{{url_for('static',filename='fotos/qrcode_linkedin.png')}}" target="_blank" ></a>
        </section>
        <footer>
        </footer>
    </section>
</body>
{% endblock %}