{% extends "base.html" %}

{%block head%}
{%endblock%}

{% block body %}
<body>
    <section class="container">
        <figure><!--class="text-center mt-2 mb-2"-->
            <img src="{{url_for('static',filename='fotos/fotoanalitica.jpeg')}}" class="w-1100 h-650">
        </figure>
        <section class="container">
            <h1 class="text-center">Melquisedeque C. Alves</h1>
            <div class="row mt-2">
            </div>
            <p>
                <strong>Área desejada:</strong> Analise de Dados
            </p>
            <p>
                <strong>G-mail:</strong> melquialves2001@gmail.com
            </p>
            <p>
                <strong>Endereço:</strong> Rua Terãn, Glória, BH, MG
            </p>
            <p>
                <strong>Idade:</strong> 22 ANOS
            </p>
            <p>
                <strong>Objetivo:</strong> Ser um profissional que domina tecnologia e leva conhecimento as empresas para se
                destacar contra as concorrentes.
            </p>
            <p>
                <strong>Experiência:</strong>
                J&T Express Brasil – Contagem, MG - Julho 2023 a Julho 2023
            </p>
            <p><strong>Procedimentos:</strong>
                Prestei serviço como freelancer mostrando agilidade, velocidade, inteligencia, trabalhando no descarregamento, carregamento e
                separando mercadorias.
            </p>
            <p>
                <strong>Habilidades:</strong> Fácil Aprendizagem, Esforçado, Criativo, Proativo, Educado, Responsável,
                Boa Digitação, Organizado, Trabalho em equipe, agíl, veloz.
            </p>
        </section>
        <div class="row mt-5">
            <div class="d-grid gap-2 col-6 mx-auto">
                <a class="btn btn-white" style="background-color: #FFF6FF;" href="https://youtu.be/LZT9KyW7l2s" role="button"><strong> Video Mi Apresentando </strong></a>
            </div>
        </div>
        <div class="row mt-3">
        </div>
        <anside class="row-1">
            <h1> Redes Sociais: </h1>
            <a class="w-50 h-50" href="http://www.linkedin.com/in/melquisedeque-cupertino"><img src="{{url_for('static',filename='fotos/qrcode_linkedin.png')}}"></a>
            <a class="w-50 h-50" href="https://api.whatsapp.com/send?phone=5531991048405"><img src="{{url_for('static',filename='fotos/qrcode_whatsapp.jpg')}}" ></a>
            <a class="w-50 h-50" href="https://profile.indeed.com/p/melquisedequic-fxbhmjf"><img src="{{url_for('static',filename='fotos/qrcode_indeed.png')}}" ></a>
        </anside>
    </section>
</body>
{% endblock %}