{% extends "base.html" %}

<header>
</header>
{% block body %}
<body>
    <section class="container">
        <h1>Sql Server</h1>
        <p>   Variavel provinda da linguagem de sql, na qual armazena milhões de informacoes,
            sendo pratica e totalmente segura ao armazenar as informacoes,
            usado muito para fazer integração com o Power bi
        </p>
        <figure>
            <img src="{{url_for('static',filename='fotos/sql.png')}}">
        </figure>
    </section>
</body>
{% endblock %}
