{% extends "base.html" %}

{% block body %}
<body>
    <section class="container">
        <h1>Word</h1>
            <p>   Melhor software para criar painéis de controles, os dashboards,
                trazendo grande capacidade analítica, ao analisar o passado e em alguns casos específicos o futuro,
                onde traz a previsao de recebimento, ajudando nas decisões a serem feitas.
            </p>
        <figure>
            <img src="{{url_for('static',filename='fotos/word.png')}}" class="w-1100 h-650">
        </figure>
        <div class="row mt-2">
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="https://1drv.ms/w/s!Aiymc2w1BTuGgj9FwaBm8v0IjC3l?e=6WjyLa" role="button"><strong>Analisando a Psicologia</strong></a>
        </div>
    </section>
</body>
{% endblock %}